<header class="__m-dark-header __m-fixed-header">

    <div class="__m-container">

        <div class="__m-row __m-col-3 __m-col-s-1">
            <div class="__m-position-2 __m-full-center __m-position-s-1"><a href="/"><img src="/svg/logo-creative-monarch-studio.svg" class="__m-logo-header" alt="Logo Monarch Typographie"></a></div>
        </div>
    </div>

</header>