<div class="__m-banner-start __m-dark-bg">
    <div class="__m-container">

        <p class="__m-text-center __m-margin-b-3x __m-opacityRevealZoom-long">
            <img src="/svg/logo-node-creative.svg" style="max-width: 150px" alt="Logo Node/Creative">
        </p>

        <p class="__m-label-title __m-text-center __m-topReveal-long">Welcome on your</p>
        <h1 class="__m-h1 __m-text-center __m-topReveal-long __m-c-green-light" style="margin-top: 10px;">Node.js App Starter</h1>

        <p class="__m-text-center __m-margin-t-3x __m-opacityRevealZoom-long">
            <a href="/documentation" class="__m-btn __m-btn-dark-pink __m-margin-r">Documentation</a>
            <a href="/#" class="__m-btn __m-btn-dark-blue">GitHub</a>
        </p>
        <p class="__m-text-center __m-topReveal-long __m-margin-t-3x">By <a href="https://creative.monarchstudio.fr" target="_blank" rel="noopener">.creative</a>, a service of <a href="https://www.monarchstudio.fr" target="_blank" rel="noopener">Monarch Studio</a>.</p>
        <p></p>
    </div>
</div>