<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{#if title}} {{title}} {{else}} .creative {{/if}}</title>
    <meta http-equiv="Cache-control" content="public">
    <meta name="copyright" content="creative - Monarch Studio"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <!--[STYLES]-->
    <!--Example production mode to request some minify values-->
    {{#if @production}}
        <link href="/css/style.min.css" rel="stylesheet" type="text/css"/>
    {{else}}
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    {{/if}}
    <link href="/css/monarch.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="__m-b-dark-green-gradient">

{{> navigation }}

<div>
    {{{ body }}}
</div>

</body>
</html>
