<div class="__m-banner-start __m-dark-bg">
    <div class="__m-container">

        <p class="__m-text-center __m-margin-b-3x __m-opacityRevealZoom-long">
            <img src="/svg/logo-node-creative.svg" style="max-width: 150px" alt="Logo Node/Creative">
        </p>

        <p class="__m-label-title __m-text-center __m-topReveal-long">404 Error</p>
        <h1 class="__m-h1 __m-text-center __m-topReveal-long __m-c-green-light" style="margin-top: 10px;">Not Found</h1>

        <p class="__m-text-center __m-margin-t-3x __m-opacityRevealZoom-long">
            <a href="/" class="__m-btn __m-btn-white">Back to home</a>
        </p>
    </div>
</div>